/*---------Color Swatch-------------
blush pink        e8c8e0
bright pink       d24087
rose pink         e089be
mint              bee5e2
turquoise         61bfc7
light tan    	  ede9e5
------------------------------------*/

body {
	background: #ede9e5;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;	
}

#wrapper {
	width: 790px;
	margin: 0 auto;
	background: #fff;
}
/*---------Main Navigation-----------*/

nav ul{
	width: 300px;
	margin:0 auto;
	background: #d24087;
	list-style-type: none;
	padding: 0;
	overflow: hidden;	
}

nav li {
	width: 100px;
	float: left; 
	
}

nav li a {
	text-decoration: none;
	background: #bee5e2;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

nav li a:link {
	color: #fff;
}

nav li a:visited {
	color: #e089be;
}

nav li a:hover {
	color: #61bfc7;
	background: #d24087; 
}

nav li a:active {
	color: #fff750;
}
/*----------End of Main Navigation-----*/

article img{
	border: 4px solid #d24087;
	margin: 0 8px 0 0;
	float: left;	
}

h1 {
	font: 48px "Great Vibes", cursive;
  	color: #bee5e2; 
}

h2 {
	font: 28px "IM Fell French Canon SC", serif;
	color: #61bfc7;
}

p {
	font: 13px "Prata", serif;
	padding: 10px;
}
