/*---------Color Swatch-------------
blush pink        e8c8e0
bright pink       d24087
rose pink         e089be
mint              bee5e2
turquoise         61bfc7
light tan    	  ede9e5
------------------------------------*/
nav {
	width: 500px;
	margin:0 auto;
	background: #bee5e2;
	
	
}

h1 {
	font: 48px "Great Vibes", cursive;
  	color: #61bfc7;
  	 
}

h2 {
	font: 28px "IM Fell French Canon SC", serif;
	color: #61bfc7;
}

p {
	font: 13px "Prata", serif;
}

ol {
	font: 13px "Prata", serif;
}